body {        
  margin: 0;
  padding: 0;
  background: url(../img/portada.png) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.login{
  width: 500px;
  height: 430px;
  background: rgba(0,0,0,.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 50px;
  border-radius: 20px;
  box-shadow: 0 15px 10px rgba(0,0,0,.5)
}
  .login .avatar {
  width: 105px;
  height: 105px;
  border-radius: 80%;
  transform: translate(3px, 15px);
  position: absolute;
  top: 1px;
  left: calc(50% - 50px);
}
.login h1 {
  margin: 8;
  padding: 0 -1 30px;
   transform: translate(-0%, 290%);
  text-align: center;
  font-size: 30px;
}
.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.login input:focus label,
  .login input:valid  label{

}
.login input {
  width: 100%;
  padding: 2px 0;
  transform: translate(-0%, 267%);
  font-size: 10px;
  color: #fff;
  margin-bottom: 20px;
  background: transparent;

}

.login input[type="text"], 
.login input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: 
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

.login input[type="submit"] {
  border: none;
  outline: none;
  transform: translate(-0%, 219%);
  height: 40px;
  background: transparent;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background: #000;
  color: #FFF;
}
.login a{
  color: #fff;
  text-decoration: none;
  transform: translate(0%, 207%);
  padding: 10px 90px;
  display: block;
  font-size: 17px;
}

.login a:hover{
  color: #b80f22;
  }


